.comment
  .ds-thread{:'data-category'=>'code', :'data-thread-key'=>"code_#{@gist.id}", :'data-title'=>@gist.description, :'data-author-key'=> QuizUser[@gist.user_id], :'data-url'=>"http://code.eoe.#{ApplicationDomain}/code/#{@gist.id}"}
  :javascript
    var duoshuoQuery = {short_name:"eoe-dev-code"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = 'http://static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();